@font-face {
  font-family: 'Minipax';
  src: url(font/Minipax-Regular.eot) format("eot");
  src: url(font/Minipax-Regular.woff) format("woff");
  src: url(font/Minipax-Regular.woff2) format("woff2");
}

* {
  color: #f5f5f5;
  font-family: 'EB Garamond', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
section {
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

h1 {
  font-size: 20vw;
  padding-top: 5vh;
  line-height: 18vw;
  position: fixed;
  z-index: 0;
}

#imageHead {
  width: 100%;
  overflow: hidden;
}

#imageHeadContainer {
  margin-top: 10%;
  height: 100%;
  overflow: hidden;
}

section {
/*   height: 100%;
  background-color: black;
  position: relative; */

}


#introTextContainer {
  position: relative;
  color: black;
  background-color: #f5f5f5;
  margin: 0 0 5vh 0;
  padding: 2vh;
  z-index: 99;
}

#introText {
  color: black;
  padding: 0 10vw;
  font-size: 1.2em;
}

#map {
  height: 100vh;
}
#contributeSection{
  height: 100%;
  background-color: #f5f5f5;
}
#contributeSection h2,h3,p{
color: #000000;
}


#galleryImgFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 85vw;
  margin: auto;
  align-items: baseline;
  flex-basis: 40%;
}

.galleryContainerImg {
  flex: 40%;
  margin: 4px;
}

.galleryImg {
  vertical-align: middle;
  width: 100%;
}

.slidecontainer {
  width: 50%;
  /* Width of the outside container */
  margin: 3rem auto;
  position: relative;
  transform: translateY(140px);
  z-index: 999;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  padding: 5px 1vw;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: none;
  height: 3vw;
  width: 3vw;
  border-radius: 25px;
  background: #f5f5f5;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
}

/* Track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #d3d3d3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #d3d3d3;
  border-radius: 25px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#numberContainer {
  margin-top: 2vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}