@font-face{
    font-family: 'Minipax';
    src: url(font/Minipax-Regular.eot) format("eot");
    src: url(font/Minipax-Regular.woff) format("woff");
    src: url(font/Minipax-Regular.woff2) format("woff2");
}

*{
    color: #f5f5f5;
    font-family: "Minipax", 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    margin: 0;
    padding: 0; 
}
     
     
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000000;
      }
      
      h1{
          text-align: center;
          font-size: 5em;
          padding-top: 5vh;
      }
      section{
          height: 100%;

      }
    
      #map {
        height: 100%;
      }

      #galleryImgFlexContainer{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 85vw;
          margin:auto;
          align-items: baseline;
          flex-basis: 20%;
      }
    .galleryContainerImg{
        flex: 20%;
        margin: 0 4px;
    }
    .galleryImg{
        vertical-align: middle;
        width: 20vw;
    }
    .slidecontainer {
        width: 100%; /* Width of the outside container */
      }
      .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 25px; /* Specified height */
        background: #000000; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #f5f5f5; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }

      .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #f5f5f5; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }