@font-face{
    font-family: 'Minipax';
    src: url(/css/font/Minipax-Regular.eot) format("eot");
    src: url(/css/font/Minipax-Regular.woff) format("woff");
    src: url(/css/font/Minipax-Regular.woff2) format("woff2");
}

*{
    color: #f5f5f5;
    font-family: "Minipax", 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    margin: 0;
    padding: 0; 
}
     
     
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #000000;
      }
      
      h1{
          text-align: center;
          font-size: 5em;
          padding-top: 5vh;
      }
      section{
          height: 100%;

      }
    
      #map {
        height: 100%;
      }

      .detailContainer1{
          float: right;
      }
      .detailContainer0{
          float: left;
      } 
      .detailContainer{
          margin: 12vh 20vw;
          clear: both;

      }
     img{
        height: 20vh;
        width: auto;

    } 
    .descritptionText{
        font-size: 4em;
    }